# Node.js dependencies
node_modules/
**/node_modules/

# Composer dependencies
vendor

wp-content/themes/*/build/
wp-content/themes/*/dist/
wp-content/themes/aim/assets/css
wp-content/uploads

.wpe-pull-ignore
.wpe-push-ignore
local-xdebuginfo.php

# npm logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# npm cache directory
.npm

# Optional npm cache directory
.node_repl_history

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Output of 'npm pack'
*.tgz

# Ide
.idea/
.idea/*
**/.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/