@use "../../assets/scss/breakpoints.scss";
@use "../../assets/scss/colors";
@use "../../assets/scss/typography" as *;

// Container styles
.lead-gen-container {
  display: flex;
  margin: 2rem -20px;
  border-top: 1px solid colors.$neutral-6-gray;
  border-bottom: 1px solid colors.$neutral-6-gray;
  flex-direction: column;

  @include breakpoints.tablet {
    flex-direction: row;
  }
}

// CTA link styles
.lead-gen-cta {
  display: flex;
  text-decoration: none;
  color: currentColor;
  flex: 1;
}

// Content styles
.lead-gen-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;

  h3 {
    margin-bottom: 48px;
    @include typography(h3);
  }

  p {
    @include typography(body-l);
  }

  .lead-gen-icon {
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
  }
}

// Item styles
.lead-gen-item {
  display: flex;
  padding: 32px 30px;
  flex-direction: column;
  gap: 64px;
  align-self: stretch;
  transition: background 0.3s ease;

  svg {
    margin-left: auto;
    width: 72px;
    height: 72px;
  }

  // Item variants
  &.lead-gen-item-2 {
    border-top: 1px solid colors.$neutral-6-gray;
  }

  // Hover states
  &.lead-gen-item-1:hover {
    background: colors.$primary-orange;

    svg {
      width: 72px;
      height: 72px;
      color: colors.$black;
    }

    &:hover svg {
      color: colors.$black;
      .arrow {
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
    }
  }

  &.lead-gen-item-2:hover {
    background: colors.$primary-navy;
    color: colors.$white;

    svg {
      color: colors.$black;
    }

    &:hover svg {
      color: colors.$white;
      .arrow {
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
    }
  }

  @include breakpoints.tablet {
    display: flex;
    padding: 48px 40px;
    flex-direction: column;
    gap: 64px;
    align-self: stretch;

    &.lead-gen-item-1 {
      border-right: 1px solid colors.$neutral-6-gray;
    }

    &.lead-gen-item-2 {
      border-top: 0;
    }
  }

  @include breakpoints.laptop {
    display: flex;
    min-width: 375px;
    min-height: 430px;
    padding: 64px 60px 64px 80px;
    flex-direction: column;
    gap: 48px;
    flex: 1 0 0;
  }

  @include breakpoints.desktop {
    display: flex;
    min-width: 375px;
    min-height: 430px;
    padding: 64px 60px 64px 80px;
    flex-direction: column;
    gap: 48px;
    flex: 1 0 0;
  }
}

// Editor-specific styles
.wp-admin {
  .lead-gen-item {
    cursor: pointer;

    min-width: unset;
    min-height: unset;
  }
}
