/* Error: Undefined variable.
 *    ,
 * 60 |       border-top: 1px solid colors.$red-100;
 *    |                             ^^^^^^^^^^^^^^^
 *    '
 *   assets/scss/components/header/header-mobile.scss 60:29  @use
 *   assets/scss/main.scss 17:1                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 60 \2502        border-top: 1px solid colors.$red-100;\a    \2502                              ^^^^^^^^^^^^^^^\a    \2575 \a   assets/scss/components/header/header-mobile.scss 60:29  @use\a   assets/scss/main.scss 17:1                              root stylesheet";
}
