@use "../breakpoints.scss";
@use "../colors.scss";
@use "sass:map";

.aim {
  &__page {
    margin-left: auto;
    margin-right: auto;
    max-width: map.get(breakpoints.$breakpoints, max);
  }
  &__main {
    flex: 1;
    width: 100%;
    max-width: map.get(breakpoints.$breakpoints, max);
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    // Add padding for mobile header
    padding-top: 80px; // Mobile header height

    // @media screen and (min-width: 75px) and (max-width: 992px) {
    //   margin-top: 80px;
    // }

    @include breakpoints.tablet {
      padding: 0 40px;
      // padding-top: 80px;
    }
    @include breakpoints.laptop {
      padding: 0 120px 0 60px;
      // padding-top: 144px; // Desktop header height
    }
    @include breakpoints.desktop {
      padding: 0 80px;
      // padding-top: 144px; // Desktop header height
    }
    &--spacing {
      padding-top: 24px;
      @include breakpoints.laptop {
        padding-top: 144px; /* Adjusted since we have padding-top on the page */
      }
      &--extra {
        margin-top: 24px;
        @include breakpoints.laptop {
          margin-top: 168px;
        }
      }
    }

    &__full-width {
      width: 100vw;
      max-width: none;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      position: relative;
      // overflow: hidden;
      @media screen and (min-width: 2600px) {
        .aim__homepage-hero__heading {
          justify-content: center;
        }
        // .aim__homepage-hero__heading__container {
        //   margin-bottom: 120px;
        // }
      }
    }
  }

  // Header and footer styles to ensure they span full width
  &__header,
  &__footer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
