// Color Palette
$white: #ffffff;
$black: #000000;
$primary-orange: #ff9e17;
$primary-navy: #174fb6;
$secondary-navy: #004dff;
$secondary-purple: #8b4dff;
$orange-100: #c0750b;
$neutral-10-black: #000;
$neutral-2-gray: #eee;
$neutral-5-gray: #d9d9db;
$neutral-6-gray: #adadad;
$neutral-7-gray: #f7f7f7;
$neutral-8-gray: #737373;

//$dark-blue: #001b4d;
//$deep-red: #9e1111;
//$gold: #ffd400;
//$light-yellow: #eaff21;
//$light-orange: #ffc36f;
//$green: #10c570;
//$light-green: #8affc0;
//$pale-blue: #5d91f2;
//$light-blue: #00b5ff;
//$orange: #ff9e17;
//$red: #ff7373;
//$tan: #876307;
//$violet: #9359ff;
//$gray: #d9d9db;
//$light-gray: #f7f7f7;
