// lqip = low quality image placeholder
.lqip-image {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;

  img {
    filter: blur(20px);
    will-change: filter;
    transform: translateZ(0) scale(1.1);
    transition: filter 0.1s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // When high quality image is loaded
  &.lqip-image-loaded {
    img {
      filter: none;
      transform: scale(1);
    }
  }

  // Prevent FOUC (Flash of Unstyled Content)
  &:not(.lqip-image-loaded) {
    opacity: 0.8;
  }
}

.non-lqip-image {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
